/*File containing css specific for screens with width less than 820 px*/

/*------------------------Frontpage css-------------------------*/
  .flex-container {
    text-align: center;
    flex-direction: column;
    justify-items: center;
    
  }

  .button{
    font-size: 5vh;
    max-width: fit-content;
    margin: auto;

  }

/*--------------------Top navigation bar css---------------------*/

  #Kafelogo {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 20.5vw;
    height:10.7vh;
  }

  .topnav {
    position: fixed;
    top: 0;
    z-index: 10;
    margin-left: 21%;
    width: 79vw;
  }

  .topnav a {
    position: relative;
    padding: 0vh;
    font-size: 3vh;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    position: relative;
    float: right;
    margin-top: 3vh;
    padding-right: 3vh;
    padding-bottom: 0.9vh;
    display: block;
    color: black;
    font-weight: bold;
  }
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /*---------------------------Footer css-------------------------*/

  footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    row-gap: 1px;
}

.footerItem {
  flex-basis: auto;
  flex: 1;
  width: 80%;
  overflow-wrap: break-word;
  font-size: 100%;
}
  
     
  #tinderLogo {
      height: 20vw;
  }
  

  /*----------------------------Menu css--------------------------*/
  
  .menu_and_sidebar {
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    display: none;
    width: 0px;
    height: 0px;
  }
  
  #menu {
      margin-top: 10vw;
      margin-left: 15vw;
      width:70vw;
      padding: 0px;
  }

  .menuHeader {
    font-size: 6vw;
  }

  .section {
    padding: 1vh;
    width: 90%;
    font-size: 3vw;
}
  
  .allergen {
      font-size: 2.5vw;
  }

  .allergenIcons {
    width: 8vw;
    height: 8vw;
}
  
  
